extends ./layout/index.pug 
block compartircontenido 
    main.container.mt-5
        h1.text.center.mt-5 #{pagina} 
        .row 
            .col-md-12 
                h2.d.block.w-100.text-center Agregar Gerente 
                if (errores) 
                    each error in errores 
                        .alert.col.alert-danger.text-center=error.mensaje 

            .row.justify-content-center.col 
                .col-md-8 
                    form(action = "/gerentes" method="POST")
                        .form-group 
                            label(for="id") id 
                            input#correo(type="test",placeholder="identificador",name="id",class="form-control",value=id,readonly="readonly")
                        .form-group 
                            label(for="nombre") Nombre 
                            input#nombre(type="text",placeholder="Nombre del Gerente",name="nombre",class="form-control",value=nombre)
                        .form-group 
                            label(for="ap_paterno") Apellido Paterno 
                            input#ap_paterno(type="text",placeholder="Apelido Paterno",name="ap_paterno",class="form-control",value=ap_paterno)  
                        .form-group 
                            label(for="ap_materno") Apellido Materno 
                            input#ap_materno(type="text",placeholder="Apellido Materno",name="ap_materno",class="form-control",value=ap_materno)
                        .form-group 
                            label(for="telefono") Telefono
                            input#correo(type="text",placeholder="Telefono",name="telefono",class="form-control",value=telefono)

                        input.btn.btn-success.btn-block(type="submit")